body {
	padding: 0;
	margin: 0; 
	overflow-y: scroll;
	background: rgba(229, 245, 255, 0.22);
}

/* Google map overrides */
.adp-directions { 
  width: 100%; 
}
.adp-substep { 
  border-top: 1px solid #f3f3f3; 
}
.adp-placemark {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #EEEEEE;
}

.container {
	margin: 0 auto 2% auto;
	width: 92%;
	padding: 0 4%;
	overflow: hidden;
    position: relative;
}
header {
	position: relative;
	overflow: hidden;
	border-top: 3px solid #BEBEBE;
	border-bottom: 3px solid #BEBEBE;
	box-shadow: 0 0 3px 1px rgba(24, 24, 24, 0.12);	
	height: 300px;
}
#map-canvas {
	width: 100%;
	height: 100%;
}
.page-title {
	position: absolute;
	top: 182px;
	right: 0px;
	z-index: 10;
	overflow: hidden;
	height: 60px;
	letter-spacing: 0.07em;
	text-shadow: 0 2px 1px rgba(73, 73, 73, 0.7);
	font-family: Tahoma, Verdana;
	font-size: 3em;
	color: #FFFDFA;
	opacity: 0.8;
	padding: 0 1em;
}
.btn {
   display: block;
   width: 200px;
   margin: 0 auto 3em auto;
   padding: 0.8em;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: #ddd;
   text-align: center;
   text-decoration: none;
   border-radius: 3px;
   cursor: pointer;
}
.btn-dark {
   background: #626262;
   box-shadow: inset 0 0 7px 3px #525252;
}
.btn-dark:hover {
   background: #363636;
   color: #F57D44;
}
.btn-dark:active {
   background: #242424;
}
.btn-sea {
	margin: 0;
	background: #0790BB;
	box-shadow: inset 0 0 7px 3px #147FC7;
	color: #fff;	
}
.btn-sea:hover { background: #0978AC; }
.btn-sea:active { background: #0964AC; }

#action-buttons {
  overflow: hidden;
  padding: 1em 0 0 0;
}
#print { display: none; }

.center-text { text-align: center; }

.pull-left { float: left; }
.pull-right { float: right; } 

/* Landscape phones and down */
@media (max-width: 480px) {
	.btn {
		width: 42%;
		font-size: 0.9em;
	}
	#print {
		margin-left: .5%;
	}
}